/*X-Small Devices*/

@media (min-width:1px) and (max-width:410px) {



    .wrapper .top_navbar .top_menu {
        box-shadow: 4px 0px 3px 0px rgba(0, 0, 0, 0.3);
    }

    .wrapper .top_navbar .top_menu .company {
        padding-left: 0px !important;
    }

    .wrapper .top_navbar .top_menu .user-data a .fa-cog {
        display: none;
    }

    .wrapper .top_navbar .top_menu .user-data .username {
        display: none;
    }


    .wrapper .top_navbar .top_menu .user-data .user-img img {
        margin-right: 10px;
    }

    .wrapper .sidebar {
        left: -70px;
        transition: 0.3s;
        z-index: 1;
    }

    .wrapper.collapse .sidebar {
        width: 60% !important;
        left: 0px;
        position: absolute;
    }

    .wrapper .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a span.icon {
        padding-left: 9.5px;
    }


    .wrapper.collapse .sidebar ul li a span.title {
        font-size: 14px !important;
    }

    .mainbody {
        overflow: scroll !important;
    }

    .container123 .menu-item {
        height: 53px;
        width: 100% !important;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .container123 .menu-item h3 {
        font-size: 17px;
        margin-left: 10px;
    }


    .container123 .main_container1 .main_container1row {
        margin: -15px !important;
        padding: 0px !important;
    }

    .container123 .main_container1 {
        width: 100% !important;
        margin: 0px;
    }

    .container123 .main_container1 .main_container1row .coldivison {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .container123 .main_container1 .detailsoncard {
        width: 100%;
        height: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .container123 .main_container1 .detailsoncard .heading_part {
        margin-left: 1.5em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .sideimg1 img {
        margin-left: 6em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .sideimg2 img {
        margin-left: 3em;
    }

    .container123 .main_container1 .detailsoncard .circleimg1 {
        margin-left: 6em;
    }

    .container123 .main_container1 .detailsoncard .circleimg2 {
        margin-left: 3em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .humanicon {
        margin-left: 5em;
    }


    .table-filter .datahidingbtn {
        margin-left: 13.5rem;
    }

    .container123 .table-filter {
        width: 100%;
        margin-left: 0px;
        height: 120px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .container123 .table-filter .filters input.searchbox1 {
        padding: 0px 30px;
        margin-left: 1em
    }

    .container123 .table-filter .filters input.searchbox2 {
        margin-left: -3.9em;
    }

    .container123 .table-filter .filters .custchkbx {
        margin-left: 2em;

    }

    .container123 .table-filter .filters i.filterbtn {
        margin-left: 0.3em;
    }

    .container123 .table-filter .filters i.sortbtn {
        margin-left: 1em;
        margin-top: 2em;
        margin-right: 1em;

    }

    .container123 .table-filter .filters i.iconbtn {
        margin-right: 1em;
    }

    .container123 .table-filter .filters button.actionbtn {
        padding: 0px 15px !important;
        margin-top: -5px;

    }

    .table-filter .filters .actionbtn i.downbtnn {
        margin-left: 20px;
    }

    .container123 .cardcollage {
        margin-top: 0px;
    }

    .container123 .cardcollage .cardcollagerow {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }


    .container123 .modalcard-body .shartcard {
        width: 90% !important;
        margin-left: 16.5px !important;
        padding: 15px;
    }

    .container123 .cardcollage .collagecard {
        padding-bottom: 15px;
        margin-right: 15px;
        padding-left: 20px;
    }

    .container123 .cardcollage .collagecard .shartcard .checknactivebtns {
        margin-left: 16em;
    }
}


/*small Devices*/
@media (min-width:411px) and (max-width:767px) {

    .wrapper .top_navbar .top_menu {
        box-shadow: 4px 0px 3px 0px rgba(0, 0, 0, 0.3);
    }

    .wrapper .top_navbar .top_menu .company {
        padding-left: 0px !important;
    }

    .wrapper .top_navbar .top_menu .user-data a .fa-cog {
        display: none;
    }

    .wrapper .top_navbar .top_menu .user-data .username {
        display: none;
    }


    .wrapper .top_navbar .top_menu .user-data .user-img img {
        margin-right: 10px;
    }

    .wrapper .sidebar {
        left: -70px;
        transition: 0.3s;
        z-index: 1;
    }

    .wrapper.collapse .sidebar {
        width: 60% !important;
        left: 0px;
        position: absolute;
    }

    .wrapper .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a span.icon {
        padding-left: 9.5px;
    }


    .wrapper.collapse .sidebar ul li a span.title {
        font-size: 14px !important;
    }

    .mainbody {
        overflow: scroll !important;
    }

    .container123 .menu-item {
        height: 53px;
        width: 100% !important;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .container123 .menu-item h3 {
        font-size: 17px;
        margin-left: 10px;
    }

    .container123 .main_container1 {
        width: 100% !important;
        margin: 0px;
    }

    .container123 .main_container1 .main_container1row .coldivison {
        margin: 15px;
    }

    .container123 .main_container1 .detailsoncard {
        width: 100%;
        height: 100%;
        padding: 25px 0px;
    }

    .container123 .main_container1 .detailsoncard .heading_part {
        margin-left: 2em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .sideimg1 img {
        margin-left: 6em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .sideimg2 img {
        margin-left: 3em;
    }

    .container123 .main_container1 .detailsoncard .circleimg1 {
        margin-left: 6em;
    }

    .container123 .main_container1 .detailsoncard .circleimg2 {
        margin-left: 3em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .humanicon {
        margin-left: 4.5em;
    }

    .container123 .table-filter {
        width: 100% !important;
        margin-left: 0px;
    }

    .container123 .table-filter .datahidingbtn {
        margin-left: 15rem;
    }

    .container123 .table-filter {
        width: 100%;
        margin-left: 0px;
        height: 120px;
        margin-bottom: 15px;
    }

    .container123 .table-filter .filters input.searchbox1 {
        padding: 0px 30px;
        margin-left: 1.5em
    }

    .container123 .table-filter .filters input.searchbox2 {
        margin-left: -2.5em;
    }

    .container123 .table-filter .filters .custchkbx {
        margin-left: 2em;
        padding: 0px 25px !important;

    }

    .container123 .table-filter .filters i.filterbtn {
        margin-left: 0.5em;
    }

    .container123 .table-filter .filters i.sortbtn {
        margin-left: 1em;
        margin-top: 2em;
        margin-right: 1em;

    }

    .container123 .table-filter .filters i.iconbtn {
        margin-right: 1em;
    }

    .container123 .table-filter .filters button.actionbtn {
        padding: 0px 20px !important;
        margin-top: -5px;

    }

    .table-filter .filters .actionbtn i.downbtnn {
        margin-left: 20px;
    }

    .container123 .cardcollage {
        margin-top: 0px;
    }

    .container123 .cardcollage .cardcollagerow {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .container123 .cardcollage .collagecard {
        padding: 15px;
        margin-right: 15px !important;
    }

    .container123 .modalcard-body .shartcard {
        width: 80% !important;
        margin-left: 37px !important;
        padding: 15px;
    }

    .container123 .cardcollage .collagecard .shartcard .checknactivebtns {
        margin-left: 15.5em;
    }

}

/*Medium Devices*/
@media (min-width:768px) and (max-width:991px) {
    .container123 .main_container1 {
        width: calc(100% - 70px);
        margin-top: 5px;
    }

    .container123 .main_container1 .main_container1row {
        width: calc(100% - 70px);
        margin-left: 42px !important;
    }

    .container123 .main_container1 .main_container1row .coldivison {
        margin: 0px;
        padding: 0px;
    }

    .container123 .main_container1 .detailsoncard {
        padding: 15px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

    .container123 .main_container1 .secondcarddetails {
        margin-left: 10px !important;
    }

    .container123 .main_container1 .fourtcarddetails {
        margin-left: 10px !important;

    }

    .container123 .main_container1 .lastcarddetails {
        width: 9em !important;
        height: 230px !important;
        margin-top: -14.4em;
        margin-left: 32.2em;
    }

    .container123 .main_container1 .lastcarddetails .heading_part {
        margin-top: 30px;
        margin-left: 10px;
    }

    .container123 .main_container1 .detailsoncard .card-heading .humanicon {
        margin-left: -88px;
        margin-top: 7em;
    }


    .container123 .table-filter .datahidingbtn {
        margin-left: 33rem;
    }



    .container123 .table-filter .filters input.searchbox1 {
        padding: 0px 25px;
        margin-left: 1em
    }

    .container123 .table-filter .filters input.searchbox2 {
        margin-left: -3.5em;
    }

    .container123 .table-filter .filters .custchkbx {
        margin-left: 2em;
        padding: 0px 25px !important;

    }

    .container123 .table-filter .filters i.filtericon {
        margin-left: 2em;
        margin-right: 2em;
    }

    .container123 .table-filter .filters i.sortbtn {
        margin-left: 1em;
        margin-right: 1em;

    }

    .container123 .table-filter .filters i.iconbtn {
        margin-right: 0em;
    }

    .container123 .table-filter .filters button.actionbtn {
        padding: 0px 20px !important;
    }

    .container123 .cardcollage {
        margin-top: 0px;
        padding-left: 15px !important;
        padding-right: 15px !important;

    }

    .container123 .cardcollage .collagecard {
        margin-right: 15px;
        margin-top: 30px;
    }

}

/*Large Devices*/
@media (min-width:992px) and (max-width:1280px) {

    .container123 .main_container1 {
        width: calc(100% - 40px);
        margin-left: 55px;
        padding: 0px !important;
    }

    .container123 .main_container1 .main_container1row {
        width: 100%;
        margin-left: 30px;
    }

    .container123 .main_container1 .main_container1row .coldivison {
        margin-left: 30px;
        padding: 0px;
    }

    .container123 .main_container1 .detailsoncard {
        width: 14.5rem;
    }

    .container123 .main_container1 .detailsoncard .circleimg1 {
        margin-left: 3em;
    }

    .container123 .main_container1 .secondcarddetails .heading_part {
        margin-top: 0px;
    }

    .container123 .main_container1 .fourtcarddetails .heading_part {
        margin-top: 0px;
    }

    .container123 .main_container1 .detailsoncard .card-heading .humanicon i {
        font-size: 1.7em;
    }

    .container123 .main_container1 .detailsoncard .card-heading .humanicon {
        margin-top: 25px;
    }

    .container123 .table-filter .datahidingbtn {
        margin-left: 65rem;
    }

    .container123 .table-filter .filters .custchkbx {
        margin-left: 29em;
    }

}