/**Media Queries**/
@media (min-width:1px) and (max-width:767px) {
    .mainbody {
        width: 100% !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h5 {
        font-size: 19px !important;
    }

    .wrapper .top_navbar .top_menu .logo {
        margin-left: 5px !important;
    }

    .wrapper .top_navbar .top_menu .user-data a .fa-cog {
        display: none;
    }

    .wrapper .top_navbar .top_menu .user-data .username {
        display: none;
    }

    .wrapper .top_navbar .top_menu .user-data .user-img img {
        margin-right: 10px;
    }

    .wrapper .sidebar {
        left: -70px;
        transition: 0.3s;
        z-index: 1;
    }

    .wrapper.collapse .sidebar {
        width: 60% !important;
        left: 0px;
        position: absolute;
    }

    .wrapper .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a span.icon {
        padding-left: 9.5px;
    }


    .wrapper.collapse .sidebar ul li a span.title {
        font-size: 14px !important;
    }

    /*Main*/
    .container123 {
        width: 100%;
        margin-left: 0px;
    }

    .container123 .menu-item h4 {
        font-size: 17px;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .container123 .menu-item .submenubtn {
        font-size: 10px;
        margin-right: 10px;
    }

    .container123 .menu-item button i {
        padding-right: 8px;
    }

    .section-1 .container1 .card1 .card1body .card1data {
        justify-content: space-between;

    }

    .section-1 .container1 .productcard1 .card2 {
        margin-top: 15px;
        margin-left: 15px;
    }

    .section-1 .container1 .productcard2 .card2 {
        margin-top: 15px;
        margin-left: 30px;
    }

    .section-1 .container1 .card2 .card2body .card2-hdr {
        margin-top: 0px;
    }

    .section-1 .container1 .card2 .card2body .card2-hdr h2 {
        margin: 0px;
    }

    .section-1 .container1 .card2 .card2body .card2-hdr h5 {
        margin: 0px;
    }

    /*circle-1*/
    .section-1 .container1 .card2 .card2body .datacrcls .imgbox .img1 {
        height: 65px;
        width: 65px;
    }

    .section-1 .container1 .card2 .card2body .datacrcls .imgbox .img2 {
        height: 45px;
        width: 45px;
    }

    /*Circles-2*/
    .section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img1 {
        height: 65px;
        width: 65px;
    }

    .section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img2 {
        height: 45px;
        width: 45px;
    }

    .section-1 .container1 .card3 {
        margin-left: 15px !important;
        height: 188px;
    }

    .section-1 .container1 .card3 .card3body .card3data .card3-righthdr {
        margin-top: 1em;
    }

    .section-1 .container1 .card3 .card3body .human-icon {
        margin-top: 15px;
    }

    .section-1 .container1 .card3 .card3body .human-icon .human2 {
        display: none;
    }


    /*Filters*/

    .section-2 .table-filter {
        height: 120px;
    }

    .section-2 .table-filter input.searchbox1 {
        margin: 0px;
    }

    .section-2 .table-filter input.searchbox2 {
        border: none;
        margin: 0px;
    }

    .section-2 .table-filter .filters1 {
        display: initial !important;
    }

    .section-2 .table-filter .rightfilters {
        display: flex;
        justify-content: space-around;
        margin: 15px;
    }

    .section-2 .table-filter .leftfilters {
        display: flex;
        justify-content: space-around;
        margin: 1.5em 10px 15px 15px;

    }

    .section-2 .table-filter .rightfilters .filtericon {
        display: none;
    }

    .section-2 .table-filter .leftfilters .filtericon1 {
        display: contents !important;
    }

    .table-filter .leftfilters button.actionbtn {
        border: none;
    }

    .tablecontainer {
        overflow-x: scroll;
        max-width: 100%;
    }

    .tablecontainer .datatable {
        width: 351%;
    }

}



@media (min-width:768px) and (max-width:1023px) {

    .wrapper .top_navbar .top_menu .logo {
        margin-left: 40%;
    }

    .wrapper.collapse .sidebar {
        width: 40% !important;
        left: 0px;
        position: absolute;
    }

    .section-1 .container1 .card1 .card1body .card1data {
        justify-content: space-between;
        margin-top: 1em;
    }

    /*circle-1*/
    .section-1 .container1 .card2 .card2body .datacrcls .imgbox .img1 {
        height: 65px;
        width: 65px;
    }

    .section-1 .container1 .card2 .card2body .datacrcls .imgbox .img2 {
        height: 45px;
        width: 45px;
    }

    /*Circles-2*/
    .section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img1 {
        height: 65px;
        width: 65px;
    }

    .section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img2 {
        height: 45px;
        width: 45px;
    }

    .section-1 .container1 .card2 .card2body .card2-hdr {
        margin-top: 0px;
    }

    .section-1 .container1 .card22 {
        margin-left: 15px !important;
        margin-top: 15px;
    }

    .container123 .productcard3 {
        display: none;
    }

    .container123 .productcard4 {
        display: contents;
    }

    .tablecontainer {
        overflow-x: scroll;
        max-width: 100%;
    }

    .tablecontainer .datatable {
        width: 160%;
    }

}


@media (min-width:1024px) and (max-width:1199px) {


    .section-1 .container1 .card1 .card1body .card1data {
        justify-content: space-between;
    }

    .section-1 .container1 .card1 .card1body .card1data .downtxt {
        margin-bottom: 3px;
    }

    .section-1 .container1 .card1 .card1body .card1data .downtxt1 {
        margin-bottom: 3px;
    }

    /*circle-1*/
    .section-1 .container1 .card2 .card2body .datacrcls .imgbox .img1 {
        height: 75px;
        width: 75px;
    }

    .section-1 .container1 .card2 .card2body .datacrcls .imgbox .img2 {
        height: 55px;
        width: 55px;
    }

    /*Circles-2*/
    .section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img1 {
        height: 75px;
        width: 75px;
    }

    .section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img2 {
        height: 55px;
        width: 55px;
    }

}