/**Media Queries**/
@media (min-width:1px) and (max-width:767px) {
    .mainbody {
        width: 100% !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h5 {
        font-size: 19px !important;
    }

    .wrapper .top_navbar .top_menu .logo {
        margin-left: 5px !important;
    }

    .wrapper .top_navbar .top_menu .user-data a .fa-cog {
        display: none;
    }

    .wrapper .top_navbar .top_menu .user-data .username {
        display: none;
    }

    .wrapper .top_navbar .top_menu .user-data .user-img img {
        margin-right: 10px;
    }

    .wrapper .sidebar {
        left: -70px;
        transition: 0.3s;
        z-index: 1;
    }

    .wrapper.collapse .sidebar {
        width: 60% !important;
        left: 0px;
        position: absolute;
    }

    .wrapper .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a {
        padding: 13.5px;
    }

    .wrapper.collapse .sidebar ul li a span.icon {
        padding-left: 9.5px;
    }


    .wrapper.collapse .sidebar ul li a span.title {
        font-size: 14px !important;
    }

    /*Main*/
    .container123 {
        width: 100%;
        margin-left: 0px;
    }


    .container123 .menu-item h4 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .container123 .container1 {
        margin-top: 15px;
    }

    .container123 .section-1 .container1 .container1row {
        margin: 0px !important;
        padding: 0px;
    }

    .container1 .container1row .coldivison {
        margin: 0px;
    }

    .container123 .section-1 .container1 .card {
        margin: 0px 0px 15px 0px !important;
        width: 100% !important;
    }

    .container123 .section-1 .container1 .card .heading_part {
        margin: auto 15px;
    }

    .container123 .section-1 .container1 .card .sideimg1 {
        margin: auto 15px;
    }

    .container123 .section-1 .container1 .card .sideimg2 {
        margin: auto 15px;
    }

    .container123 .section-1 .container1 .card .circleimg1 {
        margin: auto 15px;
    }

    .container123 .section-1 .container1 .card .circleimg2 {
        margin: auto 15px;
    }

    .container123 .section-1 .container1 .card .humanicon {
        margin: auto 15px;
    }

    .container123 .section-1 .container1 .card .humanicon i {
        font-size: 35px;
    }


    /*Filters*/

    .section-2 .table-filter {
        height: 150px;
    }

    .section-2 .table-filter input.searchbox1 {
        margin: 0px;
        width: 160px;
    }

    .section-2 .table-filter input.searchbox2 {
        border: none;
        margin: 0px;
    }

    .section-2 .table-filter .filters1 {
        display: initial !important;
    }

    .section-2 .table-filter .rightfilters {
        display: flex;
        justify-content: space-around;
        margin: 15px;
    }

    .section-2 .table-filter .leftfilters {
        display: flex;
        justify-content: space-around;
        margin: 1.5em 10px 15px 15px;

    }

    .table-filter .leftfilters button.actionbtn {
        border: none;
    }


    /**/
    .container123 .cardcollage {
        margin: 0px;
    }

    .container123 .cardcollage .cardcollagerow .coldivision {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container123 .cardcollage .collagecard {
        margin-top: 15px;
    }
}

/*Medium Devices*/

@media (min-width:768px) and (max-width:991px) {

    .wrapper.collapse .sidebar {
        width: 30% !important;
        left: 0px;
        position: absolute;
    }

    .container1 .container1row {
        padding-left: 3px;
    }

    .container123 .container1 .container1row .coldivison {
        margin: 0px;
        padding: 0px;
    }

    .container123 .container1 .card3 {
        margin-top: 15px;
    }

    .container123 .container1 .secondcarddetails {
        margin-left: -20px;
    }

    .container123 .container1 .fourtcarddetails {
        margin-left: -20px;
        margin-top: 15px;

    }

    .container123 .container1 .lastcarddetails {
        width: 9em !important;
        height: 235px !important;
        margin-top: -14.7em;
        margin-left: 32.2em;
    }

    .container123 .container1 .lastcarddetails .heading_part {
        margin-top: 30px;
        margin-left: 10px;
    }

    .container123 .main_container1 .detailsoncard .card-heading .humanicon {
        margin-left: -88px;
        margin-top: 7em;
    }
}

/*Large*/
@media (min-width:1024px) and (max-width:1280px) {

    .container1 .container1row {
        padding: 7px;
    }

    .container123 .container1 .card {
        width: 14.5rem;
    }

    .container1 .container1row .coldivison {
        margin-right: 2.4em;
    }
}