@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap');


/*Extra div*/

.container123 .productcard4 {
  display: none;
}

/*side body container*/
.body-main {
  overflow-y: scroll !important;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.mainbody {
  background: #f6f6f6;
  overflow: hidden;
}


.wrapper .top_navbar {
  width: 100%;
  height: 60px;
  display: flex;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: white;
  padding: 19px 22px;
  cursor: pointer;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/*Menu Button*/
.wrapper .top_navbar .hamburger .one {
  width: 20px;
  height: 4px;
  background: #d12627;
  margin: 2px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .hamburger .two {
  width: 15px;
  height: 4px;
  background: #d12627;
  margin: 2px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .hamburger .three {
  width: 18px;
  height: 4px;
  background: #d12627;
  margin: 2px 0;
  border-radius: 5px;
}


.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  background: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.wrapper .top_navbar .top_menu .logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 47%;
  font-family: 'Ubuntu', sans-serif;

}

.wrapper .top_navbar .top_menu .logo span {
  color: #d12627;

}

.wrapper .top_navbar .top_menu ul {
  display: flex;
}

.wrapper .top_navbar .top_menu .user-data {
  display: inline-flex;
  align-items: center;
}

.wrapper .top_navbar .top_menu .user-data a {
  margin-right: 5px;
  text-decoration: none;
}

.wrapper .top_navbar .top_menu .user-data a .username {
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 7px;
  font-family: 'Ubuntu', sans-serif;

}

.wrapper .username span {
  color: #d12627;
  padding-right: 15px;

}

.wrapper .top_navbar .top_menu .user-data a .fa-cog {
  font-size: 1em;
  margin-right: 25px;
  padding: 5px;
  border-radius: 50%;
  color: #354141;
}

.wrapper .top_navbar .top_menu .user-data a .fa-cog:hover {
  background: red;
  color: white;
  border-radius: 50%;
}


.wrapper .top_navbar .top_menu .user-data .user-img {
  display: inline-block;
}

.wrapper .top_navbar .top_menu .user-data .user-img img {
  border-radius: 50%;
  margin-right: 25px;
}

.wrapper .top_navbar .top_menu .user-data a {
  color: #354141;
}

/*sidebar*/

.wrapper .sidebar {
  position: absolute;
  top: 60px;
  left: 0px;
  background: white;
  width: 70px;
  height: 100%;
  transition: 0.3s;
  z-index: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper .sidebar ul li a {
  display: flex;
  padding: 18px;
  position: relative;
  white-space: nowrap;
  color: #354141;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.wrapper .sidebar ul li a span.icon {
  font-size: 1em;
  padding-left: 7px;
}

.wrapper .sidebar ul li a span.title {
  display: none;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: red;
  color: white
}

/*Sidebar When click*/
.wrapper.collapse .sidebar {
  width: 15vw;
  height: 100vh;
  z-index: 1;
  transition: 0.3s;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.9);
}

.wrapper.collapse .sidebar ul li a span.title {
  display: inline-flex;
  font-size: 1em;
  margin-left: 10%;
  font-family: 'Ubuntu', sans-serif;


}

/*Main Container*/
.container123 {
  width: calc(100% - 70px);
  margin-left: 70px;
  position: relative;
}

/*sub-menu*/
.container123 .menu-item {
  height: 62px;
  padding-left: 20px;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  background: white;
}

.container123 .menu-item h4 {
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
}

.container123 .menu-item button i {
  padding-right: 15px;
}

.container123 .menu-item .submenubtn {
  background-color: #d12627;
  color: white;
  font-weight: 400;
  font-size: 13px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: 5px;
}

.container123 .menu-item .submenubtn:focus {
  box-shadow: none;
}

/*Main Container*/
.section-1 {
  margin-top: 15px;
}

/*col-xl-4 Cards*/

.container1 .card1 .card1body .cardheader h2 {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.section-1 .container1 .card1 .card1body .cardheader {
  display: flex;
  justify-content: space-between;
}

.section-1 .container1 .card1 .card1body .card1data {
  display: flex;
  margin-top: 1.5em;
  justify-content: space-around;
}

.section-1 .container1 .card1 .card1body .card1data .checkdiv {
  width: 12px;
  height: 12px;
  background: #d12627;
  border-radius: 2px;
  margin-top: 7px;
}

.section-1 .container1 .card1 .card1body .card1data .checkdiv1 {
  width: 12px;
  height: 12px;
  background: orange;
  border-radius: 2px;
  margin-top: 7px;

}

.section-1 .container1 .card1 .card1body .card1data h5 {
  margin-left: 0.5em;
}

.section-1 .container1 .card1 .card1body .card1data .downtxt {
  font-size: 12px;
  color: darkgrey;
  font-family: 'Ubuntu', sans-serif;

}

.section-1 .container1 .card1 .card1body .card1data .downtxt1 {
  font-size: 12px;
  color: darkgrey;
  font-family: 'Ubuntu', sans-serif;

}



/*col-xl-8 cars*/
/*upper 2 cars*/

.section-1 .container1 .card2 .card2body .card2-hdr {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.section-1 .container1 .card2 .card2body .card2-hdr h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}


.section-1 .container1 .card2 .card2body .datacrcls {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}



/*Circle-1*/
.section-1 .container1 .card2 .card2body .datacrcls .imgbox .img1 {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid #d12627;
  border-left-color: darkgrey;
  transform: rotate(45deg);
}

.section-1 .container1 .card2 .card2body .datacrcls .imgbox .img2 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px solid #354141;
  margin: 7px;
  border-left-color: darkgrey;
  border-bottom-color: darkgrey;
  transform: rotate(55deg);
}

/*Circle-2*/

.section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img1 {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid #d12627;
  border-left-color: darkgrey;
  transform: rotate(60deg);
}

.section-1 .container1 .card2 .card2body .datacrcls .imgbox1 .img2 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px solid #354141;
  margin: 7px;
  border-bottom-color: darkgrey;
  transform: rotate(90deg);
}

.section-1 .container1 .card2 .card2body .datacrcls .rings {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #d12627;
  margin-top: 6px;
}

.section-1 .container1 .card2 .card2body .datacrcls .rings1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #354141;
  margin-top: 6px;
}

.section-1 .container1 .card2 .card2body .colrcrcls1 {
  display: flex;
}

.section-1 .container1 .card2 .card2body .colrcrcls h5 {
  margin-left: 0.5em;
}

.section-1 .container1 .card2 .card2body .datacrcls .downtxt {
  font-size: 12px;
  color: darkgrey;
  font-family: 'Ubuntu', sans-serif;


}

.section-1 .container1 .card2 .card2body .datacrcls .downtxt1 {
  font-size: 12px;
  color: darkgrey;
  font-family: 'Ubuntu', sans-serif;

}

.section-1 .container1 .card3 .card3body .card3-lefthdr {
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}

.section-1 .container1 .card3 .card3body .card3-lefthdr i {
  font-size: 20px;
  color: gold;
  margin-right: 15px;
}

.section-1 .container1 .card3 .card3body .card3-lefthdr .leftside-hdr1 {
  font-weight: bold;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
}

.section-1 .container1 .card3 .card3body .card3-lefthdr .leftside-hdr2 {
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.section-1 .container1 .card3 .card3body .card3data .card3-righthdr h2 {
  font-weight: bold;
  margin-right: 3em;
  margin-bottom: 0.75em;
}

.section-1 .container1 .card3 .card3body .human-icon {
  font-size: 20px;
  margin-left: auto;
}


.section-1 .container,
.card1,
.card2,
.card3 {
  box-shadow: 1px 1px 5px rgba(56, 56, 56, 0.5);
}

.section-1 .container1 .card3 .card3body .card3data .human-icon .human1 {
  color: gold;
}

.section-1 .container1 .card3 .card3body .card3data .human-icon .human3 {
  color: gray;
}


/*Section-2*/
.section-2 .table-filter {
  height: 90px;
  background: white;
  margin-top: 2em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*Hide Button*/
.section-2 .table-filter .datahidingbtn {
  display: flex;
  margin-left: auto;
  margin-top: -0.9em;
  padding: 0px 20px;
  background: #fcdfad;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.8;

}

.section-2 .table-filter .datahidingbtn:focus {
  box-shadow: none;
}

.section-2 .table-filter .datahidingbtn i.downbtn {
  margin: auto;
  padding-right: 10px;
  font-size: 10px;
}

/*Filters*/
.section-2 .table-filter input.searchbox1 {
  background-image: url(images/searchicon.svg);
  background-repeat: no-repeat;
  background-position: 3px 4px;
  background-size: 1rem;
  border: none;
  padding-left: 30px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  font-family: 'Ubuntu', sans-serif;

}

.section-2 .table-filter .filters1 input.searchbox1:focus {
  outline: none;
}

.section-2 .table-filter input.searchbox2 {
  background-image: url(images/arrowdown.png);
  background-repeat: no-repeat;
  background-position: 85px 4px;
  background-size: 12px;
  border: none;
  opacity: 0.5;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  width: 115px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;

}

.section-2 .table-filter .filters1 input.searchbox2:focus {
  outline: none;
}

.section-2 .table-filter .leftfilters {
  margin-left: auto;
}

.section-2 .table-filter .leftfilters i.sortbtn {
  margin-right: 25px;
  color: #d12627;
}

.section-2 .table-filter .leftfilters i.iconbtn {
  margin-right: 15px;
}

.table-filter .leftfilters button.actionbtn {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 15px;
  font-family: 'Ubuntu', sans-serif;

}

.table-filter .leftfilters button.actionbtn:focus {
  box-shadow: none;
}

.table-filter .leftfilters .actionbtn i.downbtnn {
  padding-left: 15px;
  color: darkgray;
}

/*Table*/

.tablecontainer .datatable tr {
  font-family: 'Ubuntu', sans-serif;
}


.tablecontainer .datatable tr th {
  border: none;
}

.tablecontainer .datatable tr td {
  border-top: none;
}

.tablecontainer .datatable tr.row2 {
  background-color: white;
}

.tablecontainer .datatable tr i.updownarw {
  margin-left: 10px;
}

/*Chech Boxes*/
.tablecontainer .datatable tr .custom-control-label {
  padding-left: 10px;
}

/*Table Active Buttons*/

.section-3 .tablecontainer tbody tr td div.activebtn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.section-3 .tablecontainer tbody tr td div.activebtn1 {
  margin: 2px 0px 0px 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #7ace4d;
}


/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 15px;
}